.notification {
  display: none;
  position: fixed;
  min-width: 30rem;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--color-primary-light);
  padding: 1rem 5rem;
  border-radius: 2rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}

.notification h4 {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--color-grey);
}

.notification-on {
  display: flex;
}
