/* Subscribe button */

.subs-btn-container {
  background-color: var(--color-white);
  width: 50rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.subs-btn-container svg {
  color: var(--color-dark);
  margin: -0.5rem 1rem 0 2.5rem;
  font-size: 1.8rem;
}

.subs-btn-container input {
  width: 60%;
  font-size: 1.6rem;
  font-family: var(--font-jose);
  color: var(--color-dark);
  outline: none;
  border: none;
}

.subs-btn {
  cursor: pointer;
  background-color: var(--color-primary);
  padding: 2rem;
  font-family: var(--font-jose);
  font-size: 1.6rem;
  border-radius: 2rem;
  color: var(--color-white);
  margin-left: auto;
  transition: all 0.4s ease;
}

.subs-btn:hover {
  background-color: var(--color-primary-dark);
}

@media (max-width: 650px) {
  .subs-btn-container {
    max-width: 35rem;
  }
}

@media (max-width: 450px) {
  .subs-btn-container {
    max-width: 30rem;
  }

  .subs-btn {
    padding: 1.5rem;
    font-size: 1.4rem;
  }
}
