.review-form textarea {
  width: 100%;
  margin-bottom: 1.5rem;
}

.review-form button {
  margin: 1.5rem 0 2rem;
  width: 12rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}

.review-form button:hover {
  background-color: var(--color-primary-dark);
}

.custom-toast {
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 700;
  font-family: var(--font-jose);
}
