.dashboard {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 3rem;
  margin-top: 2rem;
}

.dashboard-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-extralight);
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: fit-content;
  margin-bottom: 5rem;
}

.dashboard-nav a {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  font-family: var(--font-jose);
  margin: 1rem 0;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
  text-align: center;
}

.dashboard-nav a:hover {
  background-color: var(--color-primary-dark);
}

.dashboard-nav-active {
  background-color: var(--color-primary-dark) !important;
}

.dashboard-content {
  padding-bottom: 10rem;
}

@media (max-width: 960px) {
  .dashboard {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .dashboard-content {
    margin-bottom: 5rem;
  }
}

@media (max-width: 740px) {
  .dashboard-nav a {
    padding: 1.5rem 2rem;
  }
}
