.cart-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--color-grey);
}

.cart-empty-text {
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: 300;
  text-align: center;
  color: var(--color-grey);
  font-style: italic;
}

.cart-container {
  display: grid;
  grid-template-columns: 7fr 2fr;
  gap: 5rem;
  margin-bottom: 7rem;
}

.cart-left {
  position: relative;
}

.cart-loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #deae663c;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-box {
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--color-white);
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.cart-item-img {
  width: 5rem;
  height: 5rem;
  margin-right: 5rem;
}

.cart-item-img img {
  width: 100%;
  height: 100%;
}

.cart-item-text {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 2rem;
}

.cart-item-text h4 {
  font-size: 1.5rem;
  font-family: var(--font-quick);
  color: var(--color-dark);
}

.cart-item-text p {
  font-size: 1.4rem;
  color: var(--color-grey);
}

.cart-rmv-btn {
  justify-self: center;
  width: 12rem;
  background-color: var(--color-red);
  padding: 0.5rem 1rem;
  color: var(--color-white);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.cart-rmv-btn:hover {
  background-color: var(--color-dark);
}

.cart-rmv-btn:disabled {
  pointer-events: none;
  background-color: var(--color-green);
}

.cart-right h2 {
  color: var(--color-dark);
  font-family: var(--font-quick);
  margin-bottom: 1.5rem;
}

.cart-right p {
  font-size: 1.6rem;
  color: var(--color-grey);
  margin-bottom: 0.5rem;
}

.cart-right-btn {
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  font-family: var(--font-jose);
  font-size: 1.6rem;
  margin-top: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.4s ease;
}

.cart-right-btn:hover {
  background-color: var(--color-dark);
}

.cart-right-delivery {
  margin: 2rem 0;
}

.cart-right-delivery input {
  padding: 1rem;
  width: 30rem;
  border: none;
  outline: none;
  box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.cart-right-payment label {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.cart-right-payment input {
  margin-right: 1rem;
}

/* ------------------- */

.confirm-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #434141c5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.confirm-modal {
  padding: 5rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

@media (max-width: 940px) {
  .cart-container {
    grid-template-columns: 1fr;
    margin-bottom: 10rem;
  }
  .cart-right {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 786px) {
  .cart-item-text {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .cart-rmv-btn {
    justify-self: flex-start;
  }
}
