.banner-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 10rem;
}

.banner-slider {
  position: relative;
  width: 100%;
  height: 53rem;
  border-radius: 2rem;
}

.banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.4s ease;
}

.banner-slide img {
  width: 100%;
  height: 100%;
}

.translate-neg {
  transform: translateX(-100%);
}

.translate-pos {
  transform: translateX(100%);
}

.banner-btn {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  z-index: 10;
  justify-content: space-between;
}
.banner-btn button {
  cursor: pointer;
  padding: 1.5rem;
  margin: 1rem;
  background-color: #dfb18a;
  opacity: 0.8;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dots span {
  margin: 0 0.2rem;
  color: #c7c7c7;
  transition: all 0.8s ease;
}

.dot-active {
  color: #d57521 !important;
}

.banner-subscribe {
  position: absolute;
  top: 65%;
  left: 6.5rem;
}
