/*--------- Header top -----------*/

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-top-left img {
  transform: scale(0.8);
}

button {
  background-color: transparent;
  border: transparent;
}

.header-top-search {
  border: 1px solid var(--color-primary-light);
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-search input {
  border: transparent;
  font-size: 1.6rem;
  font-family: var(--font-jose);
  letter-spacing: 1px;
  outline: none;
  width: 90%;
  color: var(--color-dark);
  font-weight: 300;
}

.header-top-search button {
  font-size: 2rem;
  margin: 0.2rem 0.5rem 0 0;
  color: var(--color-dark);
  cursor: pointer;
  transition: 0.5s all ease;
}

.header-top-right {
  display: flex;
  align-items: center;
}

.header-top-right button {
  margin-left: 2rem;
  font-size: 1.6rem;
  font-family: var(--font-jose);
  color: var(--color-dark);
  cursor: pointer;
  transition: 0.5s all ease;
}

.header-top button:hover {
  color: var(--color-primary);
}

.header-top-right p {
  background-color: var(--color-primary-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  font-family: var(--font-jose);
}

/*--------- Header navigation --------*/
.header-nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-grey-light);
  border-bottom: 1px solid var(--color-grey-light);
  margin-bottom: 5rem;
  padding: 1.5rem 2.5rem;
}

.header-nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-left a {
  margin: 0 2rem 0 2rem;
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-jose);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.8s all ease;
}

.header-nav-left a:hover {
  color: var(--color-primary);
}

.header-nav-left-btn {
  position: relative;
  font-family: var(--font-jose);
  font-size: 1.8rem;
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.header-nav-left-btn:hover {
  background-color: var(--color-primary-dark);
}

.deal-icon {
  color: #d23b15;
  margin-top: -0.5rem;
}

.header-nav-right {
  display: flex;
}

.header-nav-right svg {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--color-dark);
  margin-top: -0.3rem;
}

.header-nav-right-text p {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.header-nav-right small {
  font-size: 1.3rem;
  color: var(--color-grey);
}
