/*--------- Header top -----------*/

.header-sales {
  background-color: var(--color-primary);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-sales p {
  color: var(--color-white);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-top-left img {
  transform: scale(0.8);
}

button {
  background-color: transparent;
  border: transparent;
}

.header-top-search {
  position: relative;
  border: 1px solid var(--color-primary-light);
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-search input {
  border: transparent;
  font-size: 1.6rem;
  font-family: var(--font-jose);
  letter-spacing: 1px;
  outline: none;
  width: 90%;
  color: var(--color-dark);
  font-weight: 300;
}

.header-top-search button {
  font-size: 2rem;
  margin: 0.2rem 0.5rem 0 0;
  color: var(--color-dark);
  cursor: pointer;
  transition: 0.5s all ease;
}

.header-top-search-result {
  position: absolute;
  background-color: var(--color-white);
  z-index: 10;
  width: 100%;
  padding: 2rem;
  top: 110%;
  left: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  max-height: 60rem;
  overflow-y: scroll;
}

.header-top-search-result div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.header-top-search-result div p {
  cursor: pointer;
}
.header-top-search-result div p:hover {
  text-decoration: underline;
  color: var(--color-primary-dark);
}

.header-top-right {
  display: flex;
  align-items: center;
}

.header-top-right button {
  margin-left: 2rem;
  font-size: 1.6rem;
  font-family: var(--font-jose);
  color: var(--color-dark);
  cursor: pointer;
  transition: 0.5s all ease;
}

.header-top button:hover {
  color: var(--color-primary);
}

.header-top-right p {
  background-color: var(--color-primary-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  font-family: var(--font-jose);
}

/*--------- Header navigation --------*/
.header-nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-grey-light);
  border-bottom: 1px solid var(--color-grey-light);
  margin-bottom: 5rem;
  padding: 1.5rem 2.5rem;
}

.header-nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-left-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-left-btn-container button:nth-of-type(2) {
  font-size: 2.5rem;
  color: var(--color-primary-dark);
  display: none;
  transition: all 0.4s ease;
}

.header-nav-left-link-container {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.header-nav-left-links {
  display: flex;
  align-items: center;
}

.header-nav-left-link-container a {
  margin: 0 2rem 0 2rem;
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-jose);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.8s all ease;
}

.header-nav-left a:hover {
  color: var(--color-primary);
}

.header-nav-left-btn {
  position: relative;
  font-family: var(--font-jose);
  font-size: 1.8rem;
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.header-nav-left-btn:hover {
  background-color: var(--color-primary-dark);
}

.deal-icon {
  color: #d23b15;
  margin-top: -0.5rem;
}

.header-nav-right {
  display: flex;
}

.header-nav-right svg {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--color-dark);
  margin-top: -0.3rem;
}

.header-nav-right-text p {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.header-nav-right small {
  font-size: 1.3rem;
  color: var(--color-grey);
}

.nav-btn-rotate {
  transform: rotate(90deg);
}

/*-------- Media queries ------- */

@media (max-width: 960px) {
  .header-nav {
    padding: 1.5rem 0;
  }
  .header-nav-left {
    justify-content: stretch;
  }
  .header-nav-right {
    display: none;
  }
}

@media (max-width: 840px) {
}

@media (min-width: 801px) {
  .header-nav-left-link-container {
    height: auto !important;
  }
}

@media (max-width: 800px) {
  .header-top-left img {
    width: 12rem;
  }
  .header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-top-left {
    width: 100%;
    justify-content: space-between;
  }

  .header-top-right {
    align-self: flex-end;
    margin-bottom: 1.5rem;
  }

  .header-top-search {
    padding: 0.5rem 1rem;
    width: 60vw;
  }

  .header-nav-left {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav-left-btn-container {
    align-self: stretch;
    width: 100%;
  }

  .header-nav-left-btn-container button:nth-of-type(2) {
    display: block;
  }

  .header-nav-left-link-container {
    width: 100%;
  }

  .header-nav-left-links {
    width: 100%;

    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav-left-link-container a {
    display: block;
    width: 100%;
    margin: 0 0 0 1rem;
    padding: 1.5rem 0;
  }
  .header-nav-left-link-container a:not(:last-of-type) {
    border-bottom: 0.1rem solid var(--color-grey-light);
  }
}
