.dashboard-content-info {
  padding: 0 2rem;
  flex: 1;
}

.dashboard-content-text {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1.8rem;
  align-items: center;
}

.dashboard-content-text h3 {
  width: 8rem;
  color: var(--color-primary);
  font-size: 1.5rem;
}

.dashboard-content-text p {
  font-size: 1.6rem;
  background-color: var(--color-grey-light);
  flex: 1;
  padding: 1.5rem 1rem;
}

.dashboard-content-text input {
  font-size: 1.6rem;
  border: 1px solid var(--color-primary-extralight);
  flex: 1;
  padding: 1.5rem 1rem;
}

.dashboard-content-info button {
  width: 12rem;
  background-color: var(--color-primary);
  padding: 1.5rem 0;
  text-align: center;
  font-weight: 700;
  color: var(--color-white);
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: all 0.4s ease-in-out;
}

.dashboard-content-info button:last-of-type {
  background-color: var(--color-red);
}

.dashboard-content-info button:hover {
  background-color: var(--color-primary-dark);
}

/* ----------------------------------- */

.overview-section {
  background-color: var(--color-primary-extralight);
  padding: 2rem;
  border-radius: 1rem;
}

.overview-section h3 {
  font-size: 2.2rem;
  color: var(--color-dark);
  margin-bottom: 2rem;
}
