/* Imported fonts link */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Root variables */
:root {
  /* colors */
  --color-black: #333;
  --color-white: #fff;
  --color-dark: #4d4d4d;
  --color-grey: #61677a;
  --color-grey-medium: #a4a5a5;
  --color-grey-light: #e3e3e3;
  --color-primary: #ff8551;
  --color-primary-light: #ffdaca;
  --color-red: #f24c3d;
  --color-green: #23901f;
  --color-purple: #614bc3;
  --color-green-light: #f7fff5;
  --color-primary-dark: #844327;

  /* fonts */
  --font-open: "Open Sans", sans-serif;
  --font-jose: "Josefin Sans", sans-serif;
  --font-quick: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

body {
  font-size: 1.4rem;
  font-family: var(--font-jose);
}

a {
  text-decoration: none;
}

/* Reuseable */

.container {
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.bg-light-green {
  background-color: #e6ffe1;
}
.bg-light-red {
  background-color: #ffeeea;
}
.bg-light-blue {
  background-color: #e2efff;
}

.my-md {
  margin: 1.5rem 0;
}
