/* Imported fonts link */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Open+Sans:wght@300;400;700&display=swap");

/* Root variables */
:root {
  /* colors */
  --color-black: #333;
  --color-white: #fff;
  --color-dark: #4d4d4d;
  --color-grey-light: #e3e3e3;
  --color-primary: #ff8551;
  --color-primary-light: #ffdaca;
  --color-primary-dark: #844327;

  /* fonts */
  --font-open: "Open Sans", sans-serif;
  --font-jose: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-size: 1.4rem;
  font-family: var(--font-open);
}

/* Reuseable */

.container {
  max-width: 140rem;
  margin: 0 auto;
}
