.singleProduct-title {
  font-size: 1.6rem;
  color: var(--color-grey);
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color-grey-light);
  margin-top: -4rem;
}

.singleProduct-title span {
  color: var(--color-primary-dark);
  font-weight: 400;
}

.singleProduct-container {
  display: flex;
  gap: 5rem;
  padding: 5rem 10rem 20rem;
  align-items: flex-start;
}

.singleProduct-left {
  width: 30%;
  background-color: var(--color-grey-light);
  padding: 5rem 0;
  border-radius: 1rem;
}

.singleProduct-left img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.singleProduct-notification {
  margin-bottom: 2rem;
  background-color: var(--color-purple);
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-family: var(--font-quick);
  text-align: center;
  border-radius: 0.5rem;
  color: var(--color-white);
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.singleProduct-price-box {
  margin-top: 5rem;
}

.singleProduct-price-box p:first-of-type {
  font-size: 4rem;
}
.singleProduct-price-box p:last-of-type {
  font-size: 2.5rem;
}

.singleProduct-desc {
  width: 60%;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-grey);
}

.singleProduct-quantity {
  margin: 2rem 0 5rem;
  display: flex;
  align-items: center;
}

.singleProduct-quantity p {
  font-size: 1.8rem;
  color: var(--color-grey);
  margin-right: 2rem;
}

.singleProduct-quantity-box {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.singleProduct-quantity-box span {
  font-size: 2rem;
  display: inline-block;
  margin: 0 1rem;
  color: var(--color-primary);
}

.singleProduct-quantity-box button {
  padding: 0.5rem 1.5rem;
  background-color: var(--color-primary-light);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.single-item-btn-container {
  display: flex;
}

.addCart-btn {
  background-color: var(--color-primary);
  padding: 1rem 5rem;
  font-size: 1.6rem;
  color: var(--color-white);
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: var(--font-jose);
  transition: all 0.4s ease;
}

.addCart-btn:hover {
  background-color: var(--color-dark);
}

.singleProduct-total {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-dark);
}

.singleProduct-total span {
  color: var(--color-grey);
}

.cart-btn {
  background-color: var(--color-purple);
  margin: 0 2rem;
}
