.latest-orders,
.orders-history {
  background-color: var(--color-primary-light);
  padding: 2rem;
  border-radius: 1rem;
}

.latest-orders {
  margin-bottom: 3rem;
}

.latest-orders h3,
.orders-history h3 {
  font-size: 2.2rem;
  color: var(--color-dark);
  margin-bottom: 2rem;
}
